:root {
  --sidebar-button-height: 50px;
}

.header{
  position: sticky;
  height: 50px;;
}

.logo{
  width: 50px;
  border: solid 1px;
  background: salmon;
}

.flex-grid {
  display: flex;
}


.flex-grid .col {
  flex: 1;
  margin: 5px;
}

.col.post-comment-image{
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
}

.col.spacer{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  height: 50px;
  width: 50px;
}


.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}

.col {
  border: solid 1px;
  background: salmon;
}

.vh{
  height: 100vh;
}

.sidebar{
  width: 325px;
}

.sidebar .side-button{
  height: var(--sidebar-button-height);
  line-height: var(--sidebar-button-height);
  word-wrap: break-word;
}

.sidebar .side-button img{
  float:left;
}

.posts{
  min-width: 375px;
}
/* 
.post{
  min-height: 300px;
  border: #1f2021;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #242526;
  border-width: thin;
}

.post .post-content .post-text{
  border: none;
  background-color: transparent;
  color: white;
}


.post .post-content{
  border: none;
  background-color: transparent;
  color: white;
} */


.post img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}



img.thumb{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px;
  border-color: black;
  object-fit: cover;
}

.post-text{
  padding: 5px;
}